@import '../vars/pallette.scss';
button{
  font-family: "pokemon_dpptregular";
  text-shadow: -2px -1px 1px lighten(black, 35%);
  letter-spacing: 1px;
  font-weight: bold;
  color: $pokeball-white;
  outline: none;
  border: none;
  position: relative;
  line-height: 1.1;
  font-size: 25px;
  box-shadow: -3px 0 2px 0 darken($button-press, 40%),
  3px 0 2px 0 darken($button-press, 40%),
  0 -2px 1px 1px darken($button-press, 40%),
  0 1px 2px 0 darken($button-press, 40%);
}
button.square-button{
  display: flex;

  background-color: $button-green;
  border-radius: 7px;
  width: 100%;
  text-align: left;

  padding: 16px 8px;
}
button.square-button:before{
  position: absolute;
  content: ' ';
  width: calc(100% - 2px);
  border: solid 2px transparentize(darken($button-green, 30%), 0.2);
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom: none;
  border-radius: 30px 30px 0 0;
  height:4px;
  top:0px;
  left:0px;
}
button.square-button:after{
  position: absolute;
  content: ' ';
  width: calc(100% - 2px);
  border: solid 3px transparentize(lighten($button-green, 70%), 0.3);
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom: none;
  border-radius: 30px 30px 0 0;
  height:4px;
  top:2px;
  left:0px;
}
button.square-button:active{
  background-color: $button-press;
  padding-top: 10px;
  padding-bottom:22px;
  color: transparentize(white, 0.2);
}
button.square-button:active:before{
  position: absolute;
  content: ' ';
  width: 100%;
  height:5px;
  border: solid 5px darken($button-press, 30%);
  border-left-width: 1px;
  border-right-width: 1px;
  border-top: none;
  border-radius: 0 0 30px 30px;
  top: calc(100% - 9px);
  left:-1px;
}
button.square-button:active:after{
  border: none;
}
button.square-button .button-text{
  margin-top: 1px;
  width: 45%;
  white-space: normal;
}
button.square-button .button-glyph{
  align-self: flex-end;
  margin: auto;
}

#search-pokemon{
  height:23%;
}

#check-pokedex{
  position: absolute;
  bottom: 0;
  height: 45%;
}


.center-btn-container{
  height:75%;
  max-height: 265px;
  width:calc(100% - 38px);
  background-color: $dark-yellow--background;
  border: solid 4px $bottom-panel-border--dark;
  border-radius: 50px;
  position: absolute;
  top:0;bottom:0;left:0;right:0;
  margin: auto 15px;
}

button.circle-button{
  height: 0;
  width: 80%;
  padding-bottom: 80%;
  border-radius: 100%;
  background-color: $nav-button--blue;
  margin: 20% 10%;
}
button.circle-button:before{
  position: absolute;
  content: ' ';
  width: calc(100% - 0px);
  border-top: solid 3px transparentize(darken($nav-button--blue-inner, 30%), 0.2);
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom: none;
  border-radius: 50px;
  height:100%;
  top:-1px;
  left:0px;
}
button.circle-button:after{
  position: absolute;
  content: ' ';
  width: calc(100% - 0px);
  border-top: solid 2px transparentize(lighten($nav-button--blue, 70%), 0.3);
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom: none;
  border-radius: 50px;
  height:100%;
  top:2px;
  left:0px;
}
button.circle-button:active{
  background-color: $nav-button--red;
  color: transparentize(white, 0.2);
}
button.circle-button:active:before{
  position: absolute;
  content: ' ';
  width: calc(100% - 0px);
  border-top: solid 3px $nav-button--red;
  border-left-width: 1px;
  border-right-width: 1px;

  border-radius: 50px;
  height:100%;
  top:-1px;
  left:0px;
}
button.circle-button:active:after{
  border-top: none;
  border-bottom: solid 3px transparentize($nav-button--red-inner, 0.25);
  top: -3px;
}
button.circle-button:active .button-glyph{
  transform: translateY(-1px);
}
button.circle-button .button-glyph{
  margin-top: 30%;
}
#navigation-down{
  position: absolute;
  bottom: 0;
  left: 0;
}
#navigation-down .button-glyph{
 // transform: rotate( 180deg ) translateX(-1px);
}

@media (max-width: 600px){
  .center-btn-container {
    margin: auto 0;
    width: calc(100% - 8px);
  }
  button.square-button{
    max-width: 90%;
  }
}