.container{
  display: flex;
  flex-direction: column;
  height:100%;
  white-space: nowrap;
}
.direction-row{
  flex-direction: row;
  align-items: center;
}
.flex-center{
  align-items: center;
  justify-content: center;
  display: flex;
}
.row{
  position: relative;
  width:100%;
  flex: 1 1 auto;
  box-sizing: border-box;
}
.row.flex{
  display: flex;
}
.row .flex-col{
  display: flex;
}
[class^="col-"]{
  position: relative;
  display: inline-block;
}
[class^="col-"].full-height{
  height: 100%;
}
.col-12{
  width:100%;
}
.col-11{
  width: floor( percentage(11/12) );
}
.col-10{
  width: floor( percentage(10/12) );

}
.col-9{
  width: floor( percentage(9/12) );

}
.col-8{
  width: floor( percentage(8/12) );

}
.col-7{
  width: floor( percentage(7/12) );

}
.col-6{
  width: floor( percentage(6/12) );

}
.col-5{
  width: floor( percentage(5/12) );
}
.col-4{
  width: floor( percentage(4/12) );
}
.col-3{
  width: floor( percentage(3/12) );
}
.col-2{
  width: floor( percentage(2/12) );
}
.col-1{
  width: floor( percentage(1/12) );
}
.row.full-height{
  height:100%;
}
.row.full-height [class^="col-"]{
  vertical-align: top;
  height: 100%;
}
