.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}
.bring-to-bottom{
  position:absolute;
  bottom:0;left:0;
  padding-left: inherit;
  padding-right: inherit;
  box-sizing: border-box;
  width:100%;
}
.height--5vh{
  height: 5vh;
}