@import "../vars/pallette.scss";
@import "../vars/image-constants.scss";

.inset{
  position: absolute;
}

.inset-line{
  position:absolute;
  background-color: $dark-yellow--background;
}

.inset-line.horz{
  width:100%;
  height:10px;
  border-top: solid 2px $bottom-panel-border--dark;
  border-bottom: solid 2px $bottom-panel-border--light;
  left:0;
}
.inset-line.vert{
  height:100%;
  width:10px;
  top:0;
  border-left: solid 2px $bottom-panel-border--dark;
  border-right:solid 2px $bottom-panel-border--light;
}
.inset-line.top{
  top: $line-space/2;
}
.inset-line.bottom{
  bottom: $line-space/2;
}
.inset-line.left{
  left:$line-space;
}
.inset-line.right{
  right:$line-space;
}

.inset.square{
  height: 24px;
  width: 20px;
}
.inset.square.info{
  background-color: $panel--purple;
  border-width: 3px;
  border-style: solid;
  border-top-color: $panel--purple-dark;

  border-bottom-style: none;
}
.inset.square.info:before{
  content: '';
  width: 100%;
  position: absolute;
  bottom: 5px;
  box-shadow: 0px 3px 1px 1px $panel--purple-light;
}

.inset.square.info.left{
  left: 0;
  border-right-color: $panel--purple-dark;
  border-left-style: none;
}
.inset.square.info.right{
  right: 0;
  border-left-color: $panel--purple-dark;
  border-right-style: none;
}
.inset.square.info.top{
  top: 45%;
}
.inset.square.info.bottom{
  top: 70%
}