@import "../vars/pallette.scss";

$poke-li-height : 27px;
ul{
  list-style: none;
  margin:0 0 0 30px;
  padding:0;
  overflow-y: hidden;
  height: $poke-li-height*9;
  width:90%;
  max-width: 461px;
  white-space: normal;
}

ul li {
  position: relative;
  text-transform: uppercase;
  padding: 2px 2px 2px 2px;
  font-size: 25px;
  font-weight: bold;
  height: $poke-li-height;
  border-radius: 25px unquote((25/3)+px) unquote((25/3)+px) 25px;
  width: 80%;
  min-width:190px;
  max-width: 225px;
  visibility: hidden;
  line-height: 0;
  display: inline-block;
}

ul li p{
  margin: 0;
  display: inline-block;
  vertical-align: sub;
}

ul li div {
  display: inline-block;
  vertical-align: super;
}

//n1
li.selected + li, li.n1{
  background-color: $name--n1;
  visibility: visible;
  margin: 0 0 0 4px;
  z-index: 25;
}
//n2
li.selected + li + li, li.n2{
  background-color: $name--n2;
  visibility: visible;
  margin: -4px 0 -4px 8px;
  z-index: 20;
}
//n3
li.selected + li + li + li, li.n3{
  background-color: $name--n3;
  visibility: visible;
  margin: -4px 0 -4px 20px;
  z-index: 15;
}
//precendence over above styles
li.selected{
  background-color: $name--selected;
  margin-top: 8px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 8px;
  visibility: visible;
}
li:first-child{
  margin-top: $poke-li-height * 4;
}
li:last-child{
  margin-bottom: $poke-li-height * 5;
}


li.n3--top{
}

li.n3--top:after{
  position: absolute;
  content: ' ';
  z-index: -1;
  width: 120px;
  height:25px;
  border-radius:0 0 unquote(((25/3)-4)+px) 0;
  padding:2px;
  right: 5px;
  bottom: -5px;
  background-color: $name--n3;
}

li.selected + li + li + li{
  position: relative;
}

li.selected + li + li + li:after{
  position: absolute;
  content: ' ';
  z-index: -1;
  width: 120px;
  height:25px;
  border-radius:0 unquote(((25/3)-4)+px) 0 0;
  padding:2px;
  right: 5px;
  top: -5px;
  background-color: $name--n3;
}

@media(max-width: 700px){
  ul li{
    font-size: 23px;
  }
}