@import "../vars/pallette";

.top-area .container{
  position: relative;
  margin-top: 8%;
  height: 90%;
}
.top-area .inset-line{
  background-color: transparentize($panel--purple, 0.8);
  border: none;
}
.top-area .time-of-day-label{
  background: $name--selected;
  max-width: 159px;
  text-align: center;
  padding: 8px 0;
  border-radius: 16px;
  border: solid 5px $dark-yellow--background;
  margin-top: -40%;
  margin-bottom: 20%;
}
.top-area .inset-line.left{
  display: none;
}
.top-area .inset-line.top{
  top: 35px;
}
.top-area .inset-line.bottom {
  bottom: 35px;
}
.top-area .inset-line.right {
  right: 35px;
}