@import '../vars/pallette';
@import '../vars/backgrounds';
.sprite.cry img{
  background-color: transparentize($panel--teal, 0.5);
  width: 100%;
}
.square-border-white{
  border-color: $indicator--white;
  border-radius: 0;
  border-width: 6px;
  border-style: solid;

  box-shadow: 0 0 0 1px $pokefont--grey;
}
.sprite.cry{

}
.sprite.cry:after{
  border-width: 1px;
  border-radius: 0;
  border-color: $pokefont--grey;

}

.top-area .spectrogram-top{
  max-height: 170px;
  position: relative;
  background: $sprite--topscreen-spectrogram-1;
}
.top-area .spectrogram-top:before{
  display: block;
  content: '';
  padding-top: 50%;
}
.spectrogram-2{
  position: relative;
  height: 18vh;
  background: $sprite--topscreen-spectrogram-2;
}
.spectrogram-2:before {
  position: absolute;
  top:0;
  left:0;
  content: '';
  width: 100%;
  height: 50%;
  border-bottom: solid 1px $panel--teal;
}
.spectrogram-2 wave{
  //padding: 10px 0;
  transform: translateX(100%);
  transition: transform 2s linear;
  height:100%!important;
}
.spectrogram-2 wave canvas{
  height:100% !important;
}
.spectrogram-2 wave.playMove{
  transform: translateX(-100%);
}
wave.playMove.finished{
  transition: transform 0s linear!important;
  transform: translateX(100%);
}
@media(max-width:600px){
  .top-area .spectrogram-top{
    height: 15vh;
  }
}
