$sprite--image-bg: transparent url('../../images/spritebk.png') repeat;
$sprite--topscreen-bg: transparent url('../../images/topscreenbg.png') repeat-x;
$sprite--selector: transparent url('../../images/selectorbg-rot.png') repeat-x;