$sprite--image-bg: transparent url('../../images/spritebk.png') repeat;
$sprite--selector: transparent url('../../images/selectorbg-rot.png') repeat-x;

/*
============
Top Screen
============
*/

$sprite--topscreen-default: transparent url('../../images/topscreenbg.png') 0 15%/ 100% 80% repeat-x;
$sprite--topscreen-search: transparent url('../../images/topscreen-search-bg.png') 0 0/contain repeat-y;
$sprite--topscreen-info: transparent url('../../images/topscreen-info-bg.png') 0 0/ contain repeat-x ;
$sprite--topscreen-area: transparent url('../../images/topscreen-area.png') 0 0/ 20px repeat ;
$sprite--topscreen-info-main: transparent url('../../images/topscreen-info-main-bg.png') 0 0/ contain repeat-x ;
