$selector--blue: #81a8e5;
$selector--yellow: #f8f080;
$selector--shadow: #485880;

$name--selected: #f8f8c0;
$name--n1: #e8e0c0;
$name--n2: #d0c8b8;
$name--n3: #b8b0b8;

$button-green: #80d860;
$button-blue: #58d8d0;
$button-press: #e8b068;

$nav-button--blue: #a0b8f8;

$nav-button--blue-inner: #6890f0;
$nav-button--red: #f08880;
$nav-button--red-inner: #b04040;

$panel--base: #d88000;
$panel--light: #e8a860;
$panel--dark: #a06000;
$panel--border: #f8c890;

$panel--green: #60e030;
$panel--green-dark: #48c010;
$panel--gray:#a8b8b8;

$panel--blue: #0060f0;
$panel--blue-light: #50c0f8;
$panel--blue-dark: #206090;

$panel--pink: #f8b8d8;
$panel--pink-dark: #e888c8;

$pokeball-white: #e8e0f0;
$pokeball--red: #e85870;
$pokeball--border: #907850;

$light-yellow--background: #f8e898;
$peach-yellow--background: #f8e8b0;
$dark-yellow--background: #f8d880;

$bottom-panel-border--dark: #f0b060;
$bottom-panel-border--light: #f8f0d0;

$pokefont--white: #f8f8f8;
$pokefont--white-textshadow: #686870;
$pokefont--grey: #606060;

